---
root: ""
---
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ title }}</title>
  <style>
 .lottie {
    position: static;
    display: block;
    width: 100%;
    max-width: 100vw;
    min-width: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -o-object-fit: cover;
    object-fit: cover;
}
.animation-wrapper {
    position: absolute;
    z-index: 99;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
} 
  </style>
</head>
<body>
<div class="animation-wrapper">
    <!--<div id="lottie" class="lottie" data-animation-path="assets/data.json" data-anim-loop="false"></div>-->
    <div id="lottie" class="lottie"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.5/lottie.js" crossorigin="anonymous"></script>

<script>
let lottie = document.getElementById('lottie')
let anim = bodymovin.loadAnimation({
  container: document.getElementById('lottie'), // the dom element that will contain the animation
  renderer: 'svg',
  loop: false,
  autoplay: true,
  path: '../assets/data.json' // the path to the animation json
});
anim.onComplete = function() {
      {%
        if mode.environment == "production"
      %}
    window.location.href = 'https://fairtronics.org';
      {% else %}
    window.location.href = 'http://localhost:8081';
      {% endif %}

}
</script>
  </body>
</html>
