---
root: ""
---
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ title }}</title>
  <!-- CSS  -->
  <link href="{{ '/css/styles.css' | prepend: root | url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="has-navbar-fixed-top">
  <nav class="navbar is-fixed-top has-background-primary is-spaced" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
      <a href="{{ '/' | url }}" class="navbar-item">
      <img  src="{{ '/assets/fairtronics-logo-white.png' | url }}"" alt="Fairtronics" height="58"/>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ '/news' | url }}">News</a>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            {%
              if mode.environment == "production"
            %}
          <a class="button is-dark" href="http://new.fairtronics.org">Demo App</a>
            {% else %}
          <a class="button is-dark" href="http://localhost:8080">Demo App</a>
            {% endif %}
          <a class="button is-light" href="https://gitlab.com/fairloetet/">Gitlab</a>
        </div>
      </div>
    </div>

  </nav>
  {{ content }}
  <footer class="footer has-background-white ">
    <div class="level container is-fluid ">
      <div class="level-left level">
      <div class="level-item" >
          <img src="{{ '/assets/BMBF-Logo.jpg' | url }}"
          alt="Bundesministerium für Bildung und Forschung" style="height: 128px">
      </div>
      <div class="level-item" >
          <img src="{{ '/assets/PrototypeFund-P-Logo.png' | url }}"
          alt="Prototype Fund" style="height: 128px">
      </div>
      <div class="level-item" >
          <p><span style="line-height: 2.5em">Ein Projekt von</span><br/>
          <a href="https://fairloetet.de/"><img src="{{
          '/assets/FairLoetet-Logo.png' | url }}" alt="FairLötet"
          style="height: 114px"></a></p>
      </div>
      </div>
      <div class="level-right level">
      <p class="level-item"><a href="{{ '/imprint' | url }}">Imprint</a></p>
      <p class="level-item"><a href="{{ '/privacy' | url }}">Privacy</a></p>
      </div>
    </div>
  </footer>
  </body>
</html>
