---
layout: layout.liquid
title: Welcome to Fairtronics
subtitle: A tool for social risk analysis in electronics products
---
<div class="section has-background-blue-yonder has-board-background">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="big-source has-text-white">The new demo has been launched!</p>
            <br/>
            <p class="button"><a href="http://new.fairtronics.org/">Try It</a></p>
        </div>
    </div>
</div>


<div class="section hero is-fullheight has-background-white">
<div class="hero-body">
<div class="container has-text-centered">
    <div class="section">
        <h1 class="title is-1">{{ title }}</h1>
        <p class="big-source">{{ subtitle }}</p>
    </div>
    <div class="section columns">
        <div class="column">
            <img src="{{ '/assets/icon-thechallenge.svg' | url }}" alt="thechallenge" style="height: 200px;"/>
            <h2 class="title is-2">The Challenge</h2>
            <p class="small-source">Human rights are violated at all stages of the electronics supply chain.
            </p>
        </div>
        <div class="column">
            <img src="{{ '/assets/icon-theapproach.svg' | url }}" alt="theapproach" style="height: 200px;"/>
            <h2 class="title is-2">The Approach</h2>
            <p class="small-source">Fairtronics is a web-based social life cycle tool for electronics
                products.</p>
        </div>
        <div class="column">
            <img src="{{ '/assets/icon-thevision.svg' | url }}" alt="thevision" style="height: 200px;"/>
            <h2 class="title is-2">The Vision</h2>
            <p class="small-source">Electronics manufacturers can use the tool to 
                examine improvement measures.</p>
        </div>
    </div>
</div>
</div>
</div>

<!-- 
<div class="section hero has-background-blue-yonder is-fullheight has-text-centered has-board-background">
    <div class="hero-body">
    <div class="container">
        <div class="columns">
            <div class="column">
            <div class="section">
            <h1 class="title is-1">Hey Electronics Manufacturers!</h1>
            <p class="big-source has-text-white">You can use our app to examine social risks in your supply chain.</p>
            </div>
            <div class="section">
                {% if mode.environment == "production" %}
                <a class="button animated is-large" href="http://app.fairtronics.org/#!/product/create">Create Report</a>
                {% else %}
                <a class="button animated is-large" href="http://localhost:8080/#!/product/create">Create Report</a>
                {% endif %}
            </div>
            </div>
            <div class="column">
            <div class="section">
            <h1 class="title is-1">What does a social risk report look like?</h1>
            <p class="big-source has-text-white"> We provide example reports for you to explore. Have a look!</p>
            </div>
            <div class="section">
                <a class="button animated is-large" href="{{ '/browse' | url}}" >See Example Reports</a>
            </div>
            </div>

        </div>
    </div>
    </div>
</div> -->


<div class="section hero has-text-centered">
    <div class="hero-body"> 
        <div class="container">
            <div class="section">
                <h1 class="title is-1 has-font-blue-yonder">The Challenge</h1>
                <p class="big-source has-text-left">
                    Human rights are violated at all stages of the electronics supply chain.
                    Through their work with <a href="https://fairloetet.de">FairLötet e.V.</a>, the project team has found that smaller electronics
                    manufacturers in particular are sensitised to these challenges, but lack concrete options for
                    action.
                    At the same time, there is usually no budget for classical methods of sustainability management
                    such as lifecycle assessments. The project is intended to provide an introduction
                    to sustainability analysis. In this way, manufacturers can identify the riskiest components
                    of their products and develop targeted alternatives for action.
                </p>
            </div>
            <div class="section">
                <h1 class="title is-1 has-font-blue-yonder">The Approach</h1>
                <p class="big-source has-text-left">
                On an internet portal, interested parties should be able to have the fairness of electronic products analysed.
                A parts list can be entered for analysis.
                A Social Lifecycle Assessment (S-LCA) uses open data to calculate social risks such as human rights or labour law violations.
                A graphical interface prepares the social analysis for laypersons in an understandable way and provides a classification of the calculated risks.
                In addition, components are highlighted which contribute particularly high risk.
                This should sensitise users to social risks and encourage them to think about design alternatives.
                </p>
            </div>
            <div class="section">
                <h1 class="title is-1 has-font-blue-yonder">The Vision</h1>
                <p class="big-source has-text-left">
                Electronics manufacturers, especially smaller companies and start-ups, can use the tool to identify particularly risky components and examine possible measures (e.g. alternative sourcing, design alternatives).
                The tool can also be used for educational purposes within the framework of FairLötet's association work and beyond, e.g. in a university context or at events related to electronics or sustainability.
                </p>

            </div>
            <div class="section">
            <p class="big-source has-text-left">
            Want to learn more about the challenges for fair electronics products and the approach and vision of Fairtronics?
            We have given a <a href="https://media.ccc.de/v/36c3-10592-fairtronics">talk at 36th Chaos Communication Congress</a>.
            </p>
            <br />
            <div style="width:100%; text-align:center">
                <iframe width="768" height="432" src="https://media.ccc.de/v/36c3-10592-fairtronics/oembed" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>


        </div>
    </div>
</div>


<div class="hero has-background-white">
    <div class="hero-body"> 
        <div class="container">
            <h1 class="title is-1 has-font-blue-yonder">About Fairtronics</h1>
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="content">
                        <h2>Why Fairtronics?</h2>
                        <p class="normaltext">
                            The social impacts of electronics production are very
                            difficult to measure. Conducting a social life cycle
                            assessment of an electronics product is a complex and
                            expensive effort and even than cannot cover every last
                            detail of the supply chain.
                        </p>
                        <p class="normaltext">
                            While workers’ rights violations are endemic to the
                            whole electronics supply chain, problems are especially
                            severe in resource extraction. At the same time, this is
                            the stage where analysis is most difficult to gather
                            accurate data due to the inherent intransparency of
                            global resource trade.
                        </p>
                        <p class="normaltext">
                            At the same time, manufacturers can take active steps to
                            reduce social impacts in their supply chains. For example,
                            they can use fairly traded raw materials, which has been
                            pioneered by companies such as
                            <a href="https://www.fairphone.com/">Fairphone</a> and
                            <a href="https://syllucid.com/">Syllucid</a>.
                        </p>
                        <p class="normaltext">
                            Our goal is to create a tool with a sufficient level of
                            detail to make visible the improvements achieved through
                            such interventions.
                        </p>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>

            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="content">
                        <h2>What is Fairtronics?</h2>
                        <p class="normaltext">
                            Fairtronics is an open-source software and research project led by
                            <a href="https://fairloetet.de/">FairLötet</a>.
                        </p>
                        <p class="normaltext">
                            While FairLötet is responsible for maintaining the
                            project vision and provides a small amount of funding
                            for the project, a large part of the work on Fairtronics
                            is done by volunteers.
                        </p>
                        <p class="normaltext">
                            So far we have released two software products:
                            <ul>
                                <li>
                                    A <a href="http://new.fairtronics.org/">visualization demo</a>,
                                    which showcases our latest analysis model and allows you to
                                    explore an open-hardware product, navigating through its parts,
                                    materials, raw resources, countries of origin, and calculated
                                    social impacts.
                                </li>
                                <li>
                                    The <a href="http://app.fairtronics.org/">Prototype</a>,
                                    which shows how a Fairtronics analysis might be integrated
                                    into a tool geared towards electronics manufacturers.
                                </li>
                            </ul>
                        </p>
                        <p class="normaltext">
                            Our source code can be found on <a
                            href="https://gitlab.com/fairloetet/fairtronics">Gitlab</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>    
</div>


<div class="section hero has-background-blue-yonder has-text-centered has-board-background">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Join Us!</h1>
            <p class="big-source has-text-white">Fairtronics is looking for volunteers and contributors.</p>
        </div>
        <br/><br/>
        <div class="columns">
            <div class="column"></div>
            <div class="column">
                <p class="big-source has-text-white"><b>Like Python or Javascript?</b></p>
                <p class="big-source has-text-white">Join as a developer</p>
                <br/>
                <p class="small-source has-text-white">
                    We’ve always got more ideas than time. If coding on a
                    unique project with a fun team sounds good to you, let
                    us know – no matter your experience. We’re all learning!
                </p>
            </div>
            <div class="column">
                <p class="big-source has-text-white"><b>Involved in Electronics?</b></p>
                <p class="big-source has-text-white">Share your expertise</p>
                <br/>
                <p class="small-source has-text-white">
                    If you’d like to try out Fairtronics on your own product, or
                    if you’d like to share your knowledge about electronics, get
                    in touch!
                </p>
            </div>
            <div class="column"></div>
        </div>
        <div class="container">
            <p class="button"><a href="mailto:info@fairtronics.org">Join the effort</a></p>
        </div>
    </div>
</div>


<div class="section hero is-primary is-fullheight has-text-centered">
    <div class="hero-body">
    <div class="container">
        <div class="section">
        <h1 class="title is-1">Keep in touch</h1>
        <p class="big-source has-text-white">
            Subscribe to our newsletter to stay updated about future developments of Fairtronics.
        </p>
        </div>
        <div class="section">
            <div class="level">
            <a class="level-left button animated is-large" href="mailto:info@fairtronics.org">Contact us</a>
            <a class="level-right button animated is-large" href="https://subscribe.newsletter2go.com/?n2g=f1s8hiav-nufl481z-ixg">Subscribe to Newsletter</a>
            </div>
        </div>
    </div>
    </div>
</div>

</div>

