---
layout: page.liquid
pageTitle: News
pageSubtext: Recent activities around Fairtronics.
---
<h2>01.-02.10.2022: Bits & Bäume 2022</h2>
<p>
    We will be presenting a new version of Fairtronics at the <a
    href="https://bits-und-baeume.org/konferenz-2022/">Bits & Bäume 2022</a>
    conference in Berlin.
</p>
<ul>
    <li>Visit us all day at the <a
    href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/talk/SMAF8Y/">FairLötet</a>
    booth at the Forum and see a demo of the new Fairtronics version.</li>
    <li>See <a
    href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/talk/PAQFVU/">the
    talk by Sebastian Jekutsch</a> where he presents an analysis of an open
    hardware laptop. The talk is scheduled on Saturday 1 October, 15:40 in
    the AHORN room.</li>
</ul>
<p>
    We will release the new version of Fairtronics here on the website in time
    for the conference, so come back to check it out!
</p>
<h2>16.04.2022: Fairtronics talk at DiVOC bridging bubbles</h2>
<p>
    We gave a <a href="https://media.ccc.de/v/divoc_bb3-48295-zutaten-der-fairen-elektronik">talk at DiVOC bridging bubbles</a> and shared our progress in analysing the material contents of electronics components.
</p>
<h2>30.12.2019: Fairtronics interviewed by Deutschlandfunk</h2>
<p>
    While at 36C3, Deutschlandfunk interviewed us for a podcast. We talked about existing social issues with electronics
    production and possible solutions – and, of course, about the idea behind Fairtronics.
</p>
<p>
    Give it a listen on
    <a href="https://www.deutschlandfunk.de/36c3-fairtronics-wie-elektronik-sozial-und-oekologisch.684.de.html?dram:article_id=466884">the Deutschlandfunk website.</a>
</p>
<h2>27.–30.12.2019: Chaos Communication Congress</h2>
<p>Our talk titled <i>Fairtronics</i> was accepted at <a href="https://events.ccc.de/category/congress/36c3/">36C3</a>. We’re
looking forward to meeting you there!</p>
<p><b>Update:</b> 36C3 was a great success! Thanks to everyone who contacted us, gave feedback, or had discussions with us.</p>
<p>You can watch the recorded presentation <a href="https://media.ccc.de/v/36c3-10592-fairtronics">on the media.ccc.de site</a>.</p>
<h2>09.11.2019: Night of Open Knowledge (NooK)</h2>
<p>Sebastian Beschke presents <i>Fairtronics</i> at <a href="https://nook-luebeck.de/talks/wie-fair-ist-mein-geraet/">Nook Lübeck</a>.</p>
